@use 'base/variables' as v;
.cajones{
    border-radius: 2rem;
}
// caja de resultado
.resultado{
    margin-top: 1rem;
    text-align: center;
    background-color: v.$morado;
    color: v.$blanco;
    padding: 1rem;
    .titulo{
        color: rgb(198, 198, 198);
    }
    
}
.puntaje{
    width: 20rem;
    height: 19rem;
    margin: 0 auto;
    background-color: #3525ab;
    border-radius: 10rem;
    text-align: center;
    .score{
        font-size: 7rem;
        margin:0;
        padding-top: 4rem;
    }
    .comparador{
        margin: 0;
        color: rgb(198, 198, 198);
    }
}
.texto_felicitacion{
    color: rgb(198, 198, 198);
}
// caja de habilidades
.sumary{
    padding: 1rem;
}
.habilidades{
    padding: 1rem;
    .campo{
        display: flex;
        margin-bottom: 3rem;
    }
    .input{
        flex: 3;
        border: 1px solid rgb(198, 198, 198);
        border-radius: 2rem;
    }
    .label{
        flex: 1 0 10rem;
        text-align: left;
    }
    .reaction{
        color: v.$rojo;
    }
    .memory{
        color: v.$amarillo;
    }
    .verbal{
        color: v.$verde;
    }
    .visual{
        color: v.$morado;
    }
}
//boton sumary
.boton{
    background-color: v.$morado;
    color: v.$blanco;
    border: none;
    width: 100%;
    height: 5rem;
    border-radius: 2rem;
}
// media query para tablet
@media(min-width: 768px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
