@use 'variables' as v;
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: v.$fuente;
    font-size: 2rem;
}
.contenedor{
    display: flex;
    width: 95%;
    max-width: 90rem;
    margin: 20rem auto;
}